@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/latera_imag.png), url(../img/latera_imag.png);
    background-repeat: repeat-y;
    background-position: right, left;
    width: 100%;
    background-color: #E7B827;
    margin: 0;
    padding: 0 21px;
    height: 100%;
}


.modalBodyFormularioRegistro img{
    width: 60%
}

.capaNoticias{
    background-color: #e9ebeb;
    text-align: center;
}

.capaNoticias > .tituloNoticias{
    width: 100%;
}

.capa2Noticias{
    display: inline-block;
    width: 80%;
}

.noticias {
    border-bottom: 1px solid #000000;
    text-align: left;
}

.nuevoRow{
    padding: 0 15px;
}

.nuevoRow > div{
    padding: 0; 
}

.primerDiv{
    width: 100%;
    border-top: 5px solid #272D26;
    margin-top: 0px; 
}

div.negro{
     background-color: #000000;
    height: 50px;
    position: absolute;
    top: 20px;
    width: 100%;
    max-width: 100%;
    z-index: 0;
}

.logoCentro{
    z-index: 2;
    position: absolute;
    left: 49%;
    top: -10px;
}
body > header{
    width: 100%;
}
.cajaIng{
    position: relative;
    min-height: 300px;
}

.capaIng{
    position: absolute;
    z-index: 200;
    background-color: #E7B827;
    max-width: 200px;
    border: 2px solid #000000;
    border-radius: 10px;
}

footer{
    font-size: 16px;
    padding: 20px 10px 0 10px;
    width: 100%;
    background-color: #000000;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
}

footer .cascosFooteer{
    background: url(../img/casco.png), url(../img/casco.png);
    background-repeat: no-repeat;
    background-position: right, left;
}

.elMenu ul{
    width: 100%;
    text-align: center;
}

.elMenu ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px; 
    border-right: 1px solid #000000;
    padding-right: 10px;
    cursor: pointer;
}

.elMenu.sinBarra ul li{
    border-right: none;
}

.elMenu ul li a{
    padding: 6px; 
    color: #000000 !important;
}

.articulo img{
    max-width: 100%;
}

.btn-linkGris{
    color: #000000;
}

.btn-negro, .elMenu li.active a{
    background-color: #000000;
    color: #ffffff !important;
}

.capaIng > h4{
    margin: 0px;
    color: #E7B827;
    background-color: #000000;
    padding-left: 5px;
}

.capLogo{
    width: 100%; 
    position: relative;
}

*
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

a
{
    color: #01AAD5;
    text-decoration: none;
    outline: none;
}

a:hover
{
    color: #5D5D5D;
    text-decoration: none;
    outline: none;
}

/* NAVBAR */

.black_75 {
    background: #000000;
    background: url(/public/hayVacantes/img/black_75.png);
    background: rgba(0, 0, 0, .75);
}

.navbar {
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding-top: .5em;
    padding-bottom: .5em;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #AAAAAA;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: none;
    color: #AAAAAA;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: .5em;
    background: #000000;
    background: url(/public/hayVacantes/img/black_75.png);
    background: rgba(0, 0, 0, .75);
    border: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF;
    text-transform: uppercase;
}

.dropdown-menu>li>a {
    color: #FFFFFF;
    text-transform: uppercase;
}

.dropdown-menu>li>a:hover {
    color: #AAAAAA;
    background: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-brand img {
    max-height: 32px;
}

.hero {
    position: relative;
    margin-bottom: 1em;

    border-bottom: 10px solid #272D26;
}

.img100, .img100 > img{
    width: 100%;
}

.hero_bg {
    min-width: 100%;
    max-width: 100%;
}

.hero_callouts {
    padding: 2em;
    color: #BBBBBB;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hero_callouts h3 {
    margin-top: 0;
    color: #FFFFFF;
    font-size: 1.5em;
}

.hero_callouts h3 a {
    color: #FFFFFF;
}

.hero_callouts h3 a:hover {
    color: #AAAAAA;
}

.container.standalone {
    position: relative;
    padding-top: 1em;
}

/* ARTICLES */

.article {
    margin-bottom: 1em;
}

.article h1, .article h2, .article h3, .article h4 {
    margin-top: 0;
}

.byline
{
    float: left;
    margin: 0 1em .5em 0;
    min-width: 16em;
}

.byline .pull-left
{
    width: 5em;
    height: 5em;
    margin: 0;
    overflow: hidden;
}

.byline .media-body
{
    margin: 0;
    padding: .5em;
    height: 5em;
}

.byline .media-heading
{
    margin: 0;
}

.timestamp
{
    color: #888888;
    font-size: .9em;
}

.media_embed
{
    display: inline-block;
    position: relative;
    width: 100%;
}

.media_embed img, .media_embed iframe
{
    width: 100%;
}

.media_caption
{
    padding: .5em;
    font-size: .9em;
    border-radius: 0 0 .25em .25em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.topic_label {
    background: #CCCCCC;
    margin: 0 .25em .25em 0;
    float: left;
}

.topic_label h5 {
    margin: .25em;
}

.topic_label:hover {
    background: #666666;
}


.hero {
    margin-bottom: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/*
@media (min-width: 768px) {
    .navbar {
        width: 100%;
    }

    .dropdown-menu>li>a {
        text-align: right;
    }

    .container.standalone {
        position: relative;
        padding-top: 5.5em;
    }
}

@media (min-width: 992px) {
    .navbar-brand img {
        max-height: 10em;
    }

    .hero_callouts {
        font-size: .9em;
        width: 100%;
        bottom: 0;
        z-index: 10000;
    }

    .hero_callouts h3 {
        font-size: 1.75;
    }

    .container.standalone {
        padding-top: 11em;
    }
}*/
